/* Navbar container */
@font-face {
  font-family: "Gotham";
  src: url("https://db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.eot");
  src: url("https://db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/9a2bc11be56851dde98c1b49302cc21a.svg#Gotham Medium")format("svg");
}
@font-face {
  font-family: "G Sans";
  src: url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.eot");
  src: url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.svg#Google Sans Text Regular")format("svg");
}
.navbar {
  overflow: hidden;
  background-color:#132D46;
  font-family:'Gotham';
}
i.nav{
  font-size:37px;
  padding: 10px;
}
/* Links inside the navbar */
.navbar>a:nth-child(n+3), .dropdown, .dropbtn{
  float:right;
  font-size: 16px;
  font-weight:50;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 20px 18px 20px 18px;
}
.navbar>a:nth-child(2){
  font-size:24px;
  color: white;
  text-align: left;
  text-decoration: none;
  float:left;
  padding:12px;  
}
.navbar>a:nth-child(1){
  margin:0px;
  padding:0px;
  float:left;
}
.navbar>a:nth-child(3){
  margin:0px;
  padding:0px;
  float:right;
}
.navbar #status{
  float:left;
  font-size: 16px;
  font-weight:50;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 17px 18px 19px 38px;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
#status.hide{
  opacity:0;
}
.dropdown{
  padding:0px;
  padding-block: 0px;
  padding-inline: 0px;
}
/* The dropdown container */


/* Dropdown button */
.dropdown .dropbtn {
  font-size:16px;
  font-weight:50;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0px; /* Important for vertical align on mobile phones */
}
.dropdown-content{overflow:hidden;margin-top:5px;}
/* Add a red background color to navbar links on hover */
.navbar a:nth-child(n+4):hover, .dropdown:hover .dropbtn{
  background-color: #095CE6;
  transition:0.5s;
}
#imgdropbtn{
  padding:0px;
}
#imgdropdown{transform:translateX(-95px) translateY(50px);}
/* Dropdown content (hidden by default) */
.dropdown-content {
  font-size: 16px;
  font-weight: lighter;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 18px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform:translateY(51.5px);
}


/* Links inside the dropdown */
.dropdown-content a{
  float: none;
  color: black;
  padding: 18px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd !important;
  transition: 0.3s !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
p#time{
    font:italic 12px 'Calibri';
    line-height: 0.5px;
    padding-left: 2px;
}
p#username{
    font:16px 'Gotham';
    margin: 2px 4px 2px 0px;
}

#compadj{
    transform: translateX(-82.5px) translateY(51.5px);
}
#profilePic{
  padding:0px;
  margin: 0px;
}
#logout{
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    width:100%;
    margin:0px;
    padding: 0px;
    font:15px Gotham;
    text-align: left;
}
form.logoutForm, form.logoutForm>button{
    margin:0px;
    padding:0px;
}