@font-face {
    font-family: "Google Sans Text Regular";
    src: url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.eot");
    src: url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.svg#Google Sans Text Regular")format("svg");
}

p {
    font-family: "Google Sans Text Regular";
}

label {
    font-family: "Google Sans Text Regular";
}
body > p {    
    padding-top:30px;
    padding-left:100px;
    font-size: 20px;
}

.form-container {
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
    margin-top: 20px;
  }

.payment {
    width:370px;
    padding-top:50px;
    padding-left:100px;
}


.credCard {
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
    border-collapse: separate;
    background-color: #D3D3D3;
}

.payment:nth-of-type(2) {
    width:370px;
    padding-top:50px;
    padding-left:60px;
}

.info {
    width: 130px;
    padding-top:20px;
    padding-left: 20px;
}


.info input[type="text"] {
    width:130px;
    height:20px;
}

.info input[type="email"] {
    width:130px;
    height:20px;
}

.info input {
    border-radius: 2px;
}

.info:nth-of-type(2){    
    padding-top:20px;
    padding-left: 20px;
    padding-right:20px;
}

.card:first-of-type {
    width: 200px;
    padding-top:20px;
    padding-left: 20px;
}

.card:nth-of-type(2){    
    padding-top:20px;
    padding-left: 20px;
}

.card [type="text"] {
    width:130px;
    height:20px;
}

.card:nth-of-type(2) [type="text"] {
    width:50px;
    height:20px;
}

.card input {
    border-radius:2px;
}

.location {
    width: 130px;
    padding-top:20px;
    padding-left: 20px;
}

.state {
    border-radius: 2px;
    height:25px;
    width:130px;
}

.location:nth-of-type(2) {   
    padding-top:20px;
    padding-left: 20px;
    padding-right:20px;
}

.location input {
    border-radius: 2px;
}

.location [type="text"] {
    width:130px;
    height:20px;
}

.accept p{
    padding-left: 25px;
    padding-right:20px;
}

.accept img {
    padding-left: 20px;
    padding-right:20px;
}

.eWallet {
    margin-left:80px;
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
    border-collapse: separate;
    background-color: #D3D3D3;
}

.wallets{
    padding-top:20px;
    padding-left:20px;
}

.wallet {
    border-radius: 2px;
    height:25px;
    width:130px;
}

.wallets:nth-of-type(2) {   
    padding-top:20px;
    padding-left: 20px;
    padding-right:20px;
}

.wallets input {
    border-radius: 2px;
}

.wallets [type="text"] {
    width:130px;
    height:20px;
}

.exInfo {
    width: 130px;
    padding-top:20px;
    padding-left: 20px;
}


.exInfo input[type="text"] {
    width:130px;
    height:20px;
}

.exInfo input[type="password"] {
    width:130px;
    height:20px;
}

.exInfo input {
    border-radius: 2px;
}

.exInfo:nth-of-type(2){    
    padding-top:20px;
    padding-left: 20px;
    padding-right:20px;
}

div#submitbox{
    padding:100px;
}

input[type="submit"] {
    background:#241571;
    color:white;
    height:50px;
    width:200px;
    border-radius: 40px;
    border:0;
    outline:0;
    cursor:pointer;
    transition: background 1s;
    font-size: large;
    transition: transform .3s; /* Animation */

 }
 
 input[type="submit"]:hover{
    transform: scale(1.25);
    box-shadow: 15px -10px gray;
    font-weight: bold;
 }

