@charset "utf-8";

@font-face {
    font-family: "Google Sans Text Regular";
    src: url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.eot");
    src: url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.svg#Google Sans Text Regular")format("svg");
 }
 @font-face {
    font-family: "Gotham Pro";
    src: url("https://db.onlinewebfonts.com/t/07a38bbad54db72a40b406bed1c72f53.eot");
    src: url("https://db.onlinewebfonts.com/t/07a38bbad54db72a40b406bed1c72f53.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/07a38bbad54db72a40b406bed1c72f53.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/07a38bbad54db72a40b406bed1c72f53.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/07a38bbad54db72a40b406bed1c72f53.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/07a38bbad54db72a40b406bed1c72f53.svg#Gotham Pro Regular")format("svg");
}


*:not(.navbar *,footer *){
    margin:0;
    padding:0;
    font-family:'Google Sans Text Regular', sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(18, 18, 72, 0.8),rgba(18, 18, 72, 0.8)), url(/media/profilebg.jpg);
    background-position: center;
    background-size:cover;
    position:relative; 
}

.profile-box{
    width:100%;
    height:80%;
    max-width:450px;
    position:absolute;
    bottom:49.5%;
    left:30%;
    transform: translate(-50%,50%);
    background: white;
    padding:20px 50px 30px 50px;
    text-align: center;
    border-radius: 40px;
}

.profile-box div#custInfo p#proName,p#proEmail,p#status
{
    background-color: beige;
    border-radius: 10px;
    height:28px;
    padding-left: 20px;
    padding-top: 3px;
}


img#profilepic
{
    border-radius:50%;
    height:200px;
    width:200px;
    margin-top:10px;
}

div#custInfo
{
    text-align: left;
    position:absolute;
    bottom:1%;
    width:75%;
}

div#custInfo p
{
    margin:10px;
}

.subscription-box{
    width:100%;
    height:23%;
    max-width:450px;
    position:absolute;
    bottom:77.5%;
    left:65%;
    transform: translate(-50%,50%);
    background: white;
    padding:27px;
    text-align: center;
    border-radius: 40px;
}
.subscription-box button{
    height:40px;
    width:90px;
    border-radius: 40px;
    font-size:14px;
}
.subscription-box h1, .bill-box h1, .profile-box h1{
    text-align: left;
    font-size: 24px;
    margin:10px 0px;
}
.subscription-box p{
    width:60%;
    text-align:left;
    float:left;
}
.subscription-box p.plan{
    margin:5px;
    font: 22px "Gotham Pro";
}
.subscription-box p.subPlan{
    margin-left:5px;
    font-size: 13px;
    color:#888;
}
.bill-box p.plan{
    font:20px "Gotham Pro";
    padding-bottom: 5px;
}
.bill-box p.subPlan{
    font-size: 14px;
    color:#777;
}
.bill-box{
    width:100%;
    height:43%;
    max-width:450px;
    position:absolute;
    bottom:31%;
    left:65%;
    transform: translate(-50%,50%);
    background: white;
    padding:27px;
    text-align: center;
    border-radius: 40px;
}
.bill-box table{
    width:100%;
    height:100%;
    text-align: left;
    padding:5px;
}
.bill-box table td{
    vertical-align: top;
}
.bill-box div{
    width:100%;
    height:70%;
    overflow: auto;
}
.bill-box table button{
    height:35px;
    width:80%;
    font-size:13px;
    border-radius:35px;
}
.bill-box button, .subscription-box button, .profile-box button{
    margin:10px;
    padding:10px;
    border-radius:20px;
    background-color: #241571;
    border: none;
    color:white; 
    transition: transform .3s;
}
.bill-box button:hover, .subscription-box button:hover, .profile-box button:hover{
   transform: scale(1.25);
   box-shadow: 5px -5px gray;
}
.profile-box button{
    height:40px;
    width:145px;
    font-size:14px;
}
button.deactivate{
    position:absolute;
    font-weight: bold;
    background-color: #8F0B0B;
    bottom:87%;
    left:60%;
}




