@charset "utf-8";

@font-face {
    font-family: "Google Sans Text Regular";
    src: url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.eot");
    src: url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.svg#Google Sans Text Regular")format("svg");
 }
 #includeFooter{padding-top: 0px!important;}
*:not(.navbar *,footer *,.input-field *){
    margin:0;
    padding:0;
    font-family:'Google Sans Text Regular', sans-serif;
    box-sizing: border-box;
}
.container{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url(/media/edit.jpg);
    background-position: center;
    background-size:cover;
    position:relative; 
}
.admin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url(/media/adminProfile.avif);
}
.profile-picture {
    flex: 0 0 150px;
    margin-right: 30px;
}
.profile-picture img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.admin-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-box{
    height:min-content;
    max-height:120%;
    width:90%;
    position:absolute;
    bottom:50%;
    left:50%;
    transform: translate(-50%,50%);
    background: white;
    padding:3% 2.25% 2% 4%;
    text-align: center;
    border-radius: 50px;
    box-shadow: 15px 10px rgba(255,255,255,0.3);
}

.show-box h1
{
    font-size:30px;
    margin-bottom:35px;
    color:#3c00a0;
    position:relative;
    text-align: left;
}
.input-field i{
    font-size: 28px;
    width:40px;
    height:20px;
    margin:0;
}
.show-box h1::after
{
content:'';
width:120px;
height:4px;
border-radius:3px;
background:#3c00a0;
position:absolute;

bottom:-12px;
left:50%;
transform:translateX(-505%);
}

.input-field{
 background:#eaeaea;
 margin: 1.5% 5% 1.5% 0;
 border-radius:3px;
 display:flex;
 align-items:center;
 max-height: 65px;
}

input{
    width:100%;
    background:transparent;
    border:0;
    outline:0;
    padding:18px 15px;
}

.input-field p,.input-field img{
margin-left:15px;
color:black;
}

p{
    text-align: left;
}
.button-field{
    width: 100%;
    vertical-align: center;
}
table{
    width:100%;
    margin:20px 0;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
}
.button-field button{
    margin:20px 100px;
    background:#3c00a0;
    color:white;
    height:44px;
    width:180px;
    border-radius: 22px;
    font-size:16px;
    border:0;
    outline:0;
    cursor:pointer;
    transition: transform .3s;
}

.button-field button:hover{
   transform: scale(1.25);
}

.input-group{
    height:280px;
}
label{
    background-color: #ddd;
    font-size: 14px;
    padding:20px;
    text-align: left;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
select{
    width:100%;
    background:transparent;
    border:0;
    outline:0;
    padding:18px 15px;
}
