@charset "utf-8";

@font-face {
    font-family: "Google Sans Text Regular";
    src: url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.eot");
    src: url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.svg#Google Sans Text Regular")format("svg");
 }


*:not(.navbar *,footer *,.input-field *){
    margin:0;
    padding:0;
    font-family:'Google Sans Text Regular', sans-serif;
    box-sizing: border-box;
}

.signin_container{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(133, 133, 210, 0.8),rgba(18, 18, 72, 0.8)), url(/media/signinbg.png);
    background-position: center;
    background-size:cover;
    position:relative; 
}

.signin-box{
    height:50;
    max-height:600px;
    width:100%;
    max-width:450px;
    position:absolute;
    bottom:50%;
    left:50%;
    transform: translate(-50%,50%);
    background: white;
    padding:40px 60px 40px 60px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 15px 10px rgba(255,255,255,0.3);
}

.signin-box h1
{
    font-size:30px;
    margin-bottom:50px;
    color:#241571;
    position:relative;
}

.signin-box h1::after
{
content:'';
width:30px;
height:4px;
border-radius:3px;
background:#241571;
position:absolute;
bottom:-12px;
left:50%;
transform:translateX(-50%);
}

.input-field{
 background:#eaeaea;
 margin: 15px 0px;
 border-radius:3px;
 display:flex;
 align-items:center;
 max-height: 65px;
}

input{
    width:100%;
    background:transparent;
    border:0;
    outline:0;
    padding:18px 15px;
}

.input-field p{
margin-left:15px;
color:#999
}

form p#message{
    text-align:left;
    font-size: 13px;
    color:black; 
}

form p#message a{
    text-decoration:none;
    color:#3c00a0;
}

.button-field{
    width: 100%;
    vertical-align: center;
}

.button-field button{
    margin-top:20px;
    background:#241571;
    color:white;
    height:40px;
    width:160px;
    border-radius: 20px;
    border:0;
    outline:0;
    cursor:pointer;
    transition: transform .3s;
}

.button-field button:hover{
   transform: scale(1.25);
}

.input-group{
    height:280px;
}
