@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://db.onlinewebfonts.com/c/9a2bc11be56851dde98c1b49302cc21a?family=Gotham+Medium');

@font-face {
    font-family: "Google Sans Text Regular";
    src: url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.eot");
    src: url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/41cdafd19e156a1f74759f9c88b878ff.svg#Google Sans Text Regular")format("svg");
}

*:not(.navbar *,footer *){
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Google Sans Text Regular";
}

.wrapper{
    max-width: 75%;
    margin: auto;
}

.wrapper h1{
    margin: 80px;
    text-align: center;
    font-family: "Gotham Medium";
    padding: 15px;
    font-size: 70px;
}

.wrapper h1{
    letter-spacing: 4px;
}

.accordion{
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    transition: 0.4s; /*took 0.4s to change color in heading*/
    display: flex; /*question and icon separate*/
    justify-content: space-between; /*question and icon separate*/
    align-items: center;
    font-weight: bold;
}

.accordion i{
    font-size: 1.6rem;
}

.active, .accordion:hover{
    background-color: #f1f7f5;
}

.pannel{
    padding: 0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
}
.pannel p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}

.support{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}
.support.active{
    border: none;
}

.ratio{
    text-align: center;
    list-style-position: inside;
}
